@media screen and (max-width: 1000px) {
    .logomarca{
        width: 34%;
        background-color: transparent;
    }
    .nav-btn{
        font-size: 17px;
    }
    .h-container{
        height: inherit;
    }
    .nav-btns{
        border-radius: 0 0 20px 0;
        width: auto;
    }
    header{
        background-color: var(--azul);
        height: 50px;
    }
    .container-linguagens {
        height: 100%;
        max-width: 403px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "js html "
            "css git"
            "photoshop apis";
        grid-gap: 23px;
        padding: 0 21px;
    }
    .linguagens-nome{
        font-size: 19px;
    }
    .linguagens-texto{
        font-size: 11px;
    }
    #box{
        height: 360px;
    }
}

/*
@media screen and (max-width: 1200px) {
    .projetos{
        width: 800px;
    .slide{
        margin-left:-21px
    }

}
}
*/

@media screen and (max-width: 850px) {
    /*.desc-projeto {
        font-weight: 500;
}*/
}