@media (max-width: 1200px) {
    .container-sobre-mim{
        padding: 120px 0px;
    }
    .foto-apontando{
        height: 350px;
    }
    .container-projetos{
        padding: 35px 0 1px 0px;
    }
    .linguagens{
        padding: 100px 0;
    }
    .info-card{
        padding: 25px 30px 25px 30px;
    }
    .h-container{
        height: 54px;
        padding: 0 21px 0 21px;
        background-color: var(--azul);
    }
    .container-linguagens{
        display: block;
        max-width: 570px;
    }
    .conteudo-linguagens{
        width: auto;
        height: auto;
    }
    .exibicao-card{
        width: 94%;
        margin: 30px auto;
        height: 384px;
        gap: 0;
    }
    .foto-exibir{
        height: 163px;
    }
    .container-img{
        height: 195px;
    }
    .btn-exibicao {
        width: 109px;
        padding: 6px 0;
    }
    .texto-info {
        font-size: 17px;
        line-height: 26px;
    }
    }


@media screen and (max-width: 1000px) {
    .logomarca{
        background-color: transparent;
    }
    .nav-btn{
        font-size: 17px;
    }

    .nav-btns{
        border-radius: 0 0 20px 0;
        width: auto;
        height: auto;
    }
    header{
        height: 50px;
    }
   /*.container-linguagens {
        height: 100%;
        max-width: 403px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "js html "
            "css git"
            "photoshop apis";
        grid-gap: 23px;
    }*/
    .linguagens-nome{
        font-size: 19px;
    }
    .linguagens-texto{
        font-size: 11px;
    }
    #box{
        height: 360px;
    }
    .link-nav-ativa::after{
        top: 22px;
    }
}


@media screen and (max-width: 800px) {
    .h-btns{
        padding: 0 21px;
    }
    .h-container{
        align-items: normal;
        height: 40px;
        padding: 0;

    }
    .nav-btns{
        display: flex;
        flex-direction: column;
        background-color: rgb(17, 56, 56);
        width: 182px;
        height: 100vh;
        justify-content: start;
        padding-top: 60px;
        align-items: end;
        gap: 0;
        position: absolute;
        right: -250px;
        top: 0;
    }
    .nav-btn{
        width: 100%;
        height: 63px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        padding-right: 20px;
    }
    .link-menu-hamburguer{
        display: block;
        z-index: 1;
        padding: 21px 0;

    }
    .logomarca{
        font-size: 25px;
    }
    .m-apresentacao{
        top: 71%;
    }
    .ola{
        font-size: 19px;
    }
    .meu-nome h1{
        font-size: 28px;
    }
    .desenvolvedor h2{
        font-size: 14px;
    }
    .auto-descricao{
        width: 218px;
        font-size: 12px;
    }
    .retangulo{
        transform: rotate(-32deg);
        top: 70px;
    }
    .sobre{
        font-size: 20px;
    }
    .subtitulo{
        font-size: 21px;
    }

}
@media screen and (max-width:550px) {
    .container-img{
        height: 276px;
    }
    .sobre-mim{
        flex-direction: column;
    }
    .habilidades{
        width: 95%;
    }
    .foto-apontando{
        width: 72%;
    }
    .eu{
        font-size: 11px;
    }
    .ling-credito-projeto {
        font-size: 11px;
    }
    .container-sobre-mim{
        padding: 120px 0px;
    }
    .habilidades{
        margin-top: 50px;
    }
    .linguagens{
        padding: 80px 0
    }
    .foto-apontando {
        height: 350px;
    }
}
@media screen and (max-width:500px) {

    .eu{
        font-size: 17px;
    }

    .desc-projeto {
        font-size: 16px;
    }
    .nome-projeto{
        font-size: 30px;
    }
    .projeto-descricao{
        padding: 16px;
    }
    .nome-projeto{
        padding: 0 4px;
    }
    .texto-info {
        font-size: 15px;
        line-height: 23px;
    }
    .ling-credito-projeto {
        font-size: 17px;
    }
}
@media screen and (max-width:480px){
    .container-img{
        height: 222px;
    }
}
@media screen and (max-width:400px) {
    .container-img{
        height: 185px;
    }
    .nome-projeto{
        font-size: 18px;
    }
    .desc-projeto {
        font-size: 13px;
    }
    .info-card{
        padding: 20px 25px 20px 24px;
    }
    .texto-info{
        font-size: 13px;
    }

}